# Introdução a análise de dados com Pandas
## Funcionalidades avançadas 
### Aplicando funções em um ```DataFrame```
Utilizamos o comando ```DataFrame.apply()``` para aplicar uma função específica em uma ou mais colunas/linhas de um ```DataFrame```. Utilizaremos as informações contidas no arquivo ```housing.csv``` para exemplicar o uso de cada funcionalidade.

In [1]:
import pandas as pd

df = pd.read_csv('dados/housing_ok.csv')
df.head()

,bairro,endereco,quartos,tipo,preco,distancia_aeroporto,cep,banheiros,vagas,area_terreno,area_construida,ano_construcao,latitude,longitude
0,Collingwood,2/79 Oxford St,2.0,kitnet,855000.0,1.6,3066.0,1.0,1.0,2886.0,122.0,1830.0,-37.8042,144.9845
1,Richmond,22a Stanley St,3.0,casa,1600000.0,2.6,3121.0,2.0,2.0,80.0,144.0,1850.0,-37.8233,144.9947
2,Fitzroy,52 Nicholson St,4.0,casa,3310000.0,1.6,3065.0,4.0,2.0,337.0,291.0,1854.0,-37.8052,144.9739
3,South Melbourne,352 Moray St,4.0,casa,2260000.0,2.1,3205.0,3.0,0.0,190.0,232.0,1856.0,-37.8377,144.9653
4,Port Melbourne,175 Stokes St,3.0,casa,2200000.0,3.8,3207.0,2.0,0.0,250.0,280.0,1863.0,-37.8381,144.9391

Definiremos uma função que recebe a ```distancia_aeroporto``` e retorna o texto 'longe', caso a distância seja maior que 3.5 km e 'perto', caso contrário.

In [7]:
def perto_ou_longe(x):
    if x > 3.5:
        return 'longe'
    else:
        return 'perto'

df.distancia_aeroporto.apply(perto_ou_longe).head()

0    perto
1    perto
2    perto
3    perto
4    longe
Name: distancia_aeroporto, dtype: object

Criaremos uma nova coluna do ```DataFrame``` contendo a informações gerada utilizando a notação ```DataFrame['nome_da_nova_coluna'] = Serie```.

In [8]:
df['perto_ou_longe'] = df.distancia_aeroporto.apply(perto_ou_longe)
df.head()

,bairro,endereco,quartos,tipo,preco,distancia_aeroporto,cep,banheiros,vagas,area_terreno,area_construida,ano_construcao,latitude,longitude,perto_ou_longe
0,Collingwood,2/79 Oxford St,2.0,kitnet,855000.0,1.6,3066.0,1.0,1.0,2886.0,122.0,1830.0,-37.8042,144.9845,perto
1,Richmond,22a Stanley St,3.0,casa,1600000.0,2.6,3121.0,2.0,2.0,80.0,144.0,1850.0,-37.8233,144.9947,perto
2,Fitzroy,52 Nicholson St,4.0,casa,3310000.0,1.6,3065.0,4.0,2.0,337.0,291.0,1854.0,-37.8052,144.9739,perto
3,South Melbourne,352 Moray St,4.0,casa,2260000.0,2.1,3205.0,3.0,0.0,190.0,232.0,1856.0,-37.8377,144.9653,perto
4,Port Melbourne,175 Stokes St,3.0,casa,2200000.0,3.8,3207.0,2.0,0.0,250.0,280.0,1863.0,-37.8381,144.9391,longe

### Criando uma nova coluna como resultado de operações envolvendo outras colunas
Criaremos uma nova coluna contendo a razão entre a ```area_construida``` e a ```area_terreno```. Para tanto, utilizaremos o comando ```DataFrame.eval()```. O comando ```eval()``` recebe como parâmetro a expressão matemática no formato de texto. Para consolidar o resultado gerado pelo comando, passamos o parâmetro ```inplace=True```.

In [11]:
df.eval('razao_area = area_construida / area_terreno', inplace=True)
df.head()

,bairro,endereco,quartos,tipo,preco,distancia_aeroporto,cep,banheiros,vagas,area_terreno,area_construida,ano_construcao,latitude,longitude,perto_ou_longe,razao_area
0,Collingwood,2/79 Oxford St,2.0,kitnet,855000.0,1.6,3066.0,1.0,1.0,2886.0,122.0,1830.0,-37.8042,144.9845,perto,0.042273
1,Richmond,22a Stanley St,3.0,casa,1600000.0,2.6,3121.0,2.0,2.0,80.0,144.0,1850.0,-37.8233,144.9947,perto,1.800000
2,Fitzroy,52 Nicholson St,4.0,casa,3310000.0,1.6,3065.0,4.0,2.0,337.0,291.0,1854.0,-37.8052,144.9739,perto,0.863501
3,South Melbourne,352 Moray St,4.0,casa,2260000.0,2.1,3205.0,3.0,0.0,190.0,232.0,1856.0,-37.8377,144.9653,perto,1.221053
4,Port Melbourne,175 Stokes St,3.0,casa,2200000.0,3.8,3207.0,2.0,0.0,250.0,280.0,1863.0,-37.8381,144.9391,longe,1.120000

### Filtrar linhas baseado em um intervalo de valores
Uma forma eficiente de aplicar um filtro de intervalo é através do uso do método ```Series.between(limite_inferior, limite_superior)```.

In [14]:
df[df.distancia_aeroporto.between(1, 3)].head()

,bairro,endereco,quartos,tipo,preco,distancia_aeroporto,cep,banheiros,vagas,area_terreno,area_construida,ano_construcao,latitude,longitude,perto_ou_longe,razao_area
0,Collingwood,2/79 Oxford St,2.0,kitnet,855000.0,1.6,3066.0,1.0,1.0,2886.0,122.0,1830.0,-37.8042,144.9845,perto,0.042273
1,Richmond,22a Stanley St,3.0,casa,1600000.0,2.6,3121.0,2.0,2.0,80.0,144.0,1850.0,-37.8233,144.9947,perto,1.800000
2,Fitzroy,52 Nicholson St,4.0,casa,3310000.0,1.6,3065.0,4.0,2.0,337.0,291.0,1854.0,-37.8052,144.9739,perto,0.863501
3,South Melbourne,352 Moray St,4.0,casa,2260000.0,2.1,3205.0,3.0,0.0,190.0,232.0,1856.0,-37.8377,144.9653,perto,1.221053
5,Parkville,152 Park Dr,2.0,casa,2200000.0,2.6,3052.0,2.0,1.0,190.0,172.0,1875.0,-37.7928,144.9575,perto,0.905263

### Agrupar valores
Utilizando o o comando ```DataFrame.groupby(by='nome_da_coluna')```, podemos agrupar valores de acordo com a operação desejada. Podemos, por exemplo agrupar as informações do ```DataFrame``` ```df``` por tipo de imóvel. Como operação de agrupamento, faremos o cálculo da média através do comando ```mean()``` para verifidar o preço médio dos imóveis por tipo.

In [23]:
df.groupby(by='tipo').mean()

,quartos,preco,distancia_aeroporto,cep,banheiros,vagas,area_terreno,area_construida,ano_construcao,latitude,longitude,razao_area
tipo,,,,,,,,,,,,
apartamento,2.886364,8.912696e+05,9.267208,3087.373377,1.827922,1.487013,328.194805,136.075325,2000.301948,-37.805750,144.978347,0.711705
casa,3.281076,1.352243e+06,8.906408,3089.966254,1.674498,1.689022,501.705254,166.909457,1947.577104,-37.804030,144.984450,0.415483
kitnet,2.123656,6.060722e+05,8.995968,3099.543011,1.172043,1.169355,807.198925,85.757016,1981.849462,-37.810621,144.993278,0.381975

O resultado do comando é um novo ```DataFrame``` com o tipo como indice.
As outras operações disponíveis para o agrupamento são:
* ```count()```: contagem de valores
* ```max()```: valor máximo
* ```min()```: valor mínimo
* ```median()```: mediana
* ```std()```: desvio padrão

A lista completa encontra-se no link: https://www.shanelynn.ie/summarising-aggregation-and-grouping-data-in-python-pandas/

Podemos agrupar os dados por tipo e número de quartos.

In [27]:
df.groupby(by=['tipo', 'quartos']).preco.describe().sort_values('max')

                      count          mean           std        min        25%  \
tipo        quartos
apartamento 1.0         2.0  4.850000e+05  1.979899e+05   345000.0   415000.0
kitnet      1.0        44.0  3.789432e+05  9.739814e+04   185000.0   308750.0
apartamento 5.0         2.0  8.125000e+05  2.368808e+05   645000.0   728750.0
kitnet      2.0       240.0  5.870398e+05  1.704276e+05   266000.0   474750.0
casa        1.0         8.0  8.517750e+05  3.317692e+05   260000.0   739925.0
apartamento 2.0        80.0  7.206988e+05  2.384281e+05   380000.0   561375.0
kitnet      4.0         2.0  1.201500e+06  6.342748e+05   753000.0   977250.0
            3.0        86.0  7.615442e+05  2.896324e+05   400000.0   560000.0
casa        7.0         3.0  1.701667e+06  7.794282e+05  1205000.0  1252500.0
apartamento 3.0       179.0  8.931573e+05  3.191088e+05   430000.0   701000.0
casa        2.0       368.0  9.818711e+05  3.505353e+05   270000.0   756875.0
apartamento 4.0        45.0  1.208556e+06  4.877989e+05   600000.0   886000.0
casa        8.0         2.0  1.915500e+06  1.463004e+06   881000.0  1398250.0
            4.0       664.0  1.640970e+06  7.705591e+05   131000.0  1100000.0
            3.0      1125.0  1.184248e+06  5.368530e+05   305000.0   805000.0
            6.0        14.0  2.205857e+06  1.474685e+06   725000.0  1436250.0
            5.0       157.0  2.138573e+06  9.988987e+05   605000.0  1490000.0

                           50%        75%        max
tipo        quartos
apartamento 1.0       485000.0   555000.0   625000.0
kitnet      1.0       370000.0   427375.0   671000.0
apartamento 5.0       812500.0   896250.0   980000.0
kitnet      2.0       580000.0   659625.0  1260000.0
casa        1.0       885500.0   956875.0  1435000.0
apartamento 2.0       702500.0   806750.0  1540000.0
kitnet      4.0      1201500.0  1425750.0  1650000.0
            3.0       730500.0   878750.0  2460000.0
casa        7.0      1300000.0  1950000.0  2600000.0
apartamento 3.0       830000.0   990500.0  2700000.0
casa        2.0       910000.0  1171750.0  2875000.0
apartamento 4.0      1155000.0  1367000.0  2900000.0
casa        8.0      1915500.0  2432750.0  2950000.0
            4.0      1500000.0  2000000.0  5700000.0
            3.0      1080000.0  1440000.0  6250000.0
            6.0      1783000.0  2381250.0  6500000.0
            5.0      1920000.0  2600000.0  8000000.0

O resultado é um novo ```DataFrame``` com múltiplos indices.

Por fim, podemos utilizar o comando ```DataFrame.describe()``` para exibir todas as estatísticas descritivas para cada grupo. Faremos um exemplo somente para o preço dos imóveis.

In [15]:
df.groupby(by=['tipo', 'quartos']).preco.describe()

                      count          mean           std        min        25%  \
tipo        quartos
apartamento 1.0         2.0  4.850000e+05  1.979899e+05   345000.0   415000.0
            2.0        80.0  7.206988e+05  2.384281e+05   380000.0   561375.0
            3.0       179.0  8.931573e+05  3.191088e+05   430000.0   701000.0
            4.0        45.0  1.208556e+06  4.877989e+05   600000.0   886000.0
            5.0         2.0  8.125000e+05  2.368808e+05   645000.0   728750.0
casa        1.0         8.0  8.517750e+05  3.317692e+05   260000.0   739925.0
            2.0       368.0  9.818711e+05  3.505353e+05   270000.0   756875.0
            3.0      1125.0  1.184248e+06  5.368530e+05   305000.0   805000.0
            4.0       664.0  1.640970e+06  7.705591e+05   131000.0  1100000.0
            5.0       157.0  2.138573e+06  9.988987e+05   605000.0  1490000.0
            6.0        14.0  2.205857e+06  1.474685e+06   725000.0  1436250.0
            7.0         3.0  1.701667e+06  7.794282e+05  1205000.0  1252500.0
            8.0         2.0  1.915500e+06  1.463004e+06   881000.0  1398250.0
kitnet      1.0        44.0  3.789432e+05  9.739814e+04   185000.0   308750.0
            2.0       240.0  5.870398e+05  1.704276e+05   266000.0   474750.0
            3.0        86.0  7.615442e+05  2.896324e+05   400000.0   560000.0
            4.0         2.0  1.201500e+06  6.342748e+05   753000.0   977250.0

                           50%        75%        max
tipo        quartos
apartamento 1.0       485000.0   555000.0   625000.0
            2.0       702500.0   806750.0  1540000.0
            3.0       830000.0   990500.0  2700000.0
            4.0      1155000.0  1367000.0  2900000.0
            5.0       812500.0   896250.0   980000.0
casa        1.0       885500.0   956875.0  1435000.0
            2.0       910000.0  1171750.0  2875000.0
            3.0      1080000.0  1440000.0  6250000.0
            4.0      1500000.0  2000000.0  5700000.0
            5.0      1920000.0  2600000.0  8000000.0
            6.0      1783000.0  2381250.0  6500000.0
            7.0      1300000.0  1950000.0  2600000.0
            8.0      1915500.0  2432750.0  2950000.0
kitnet      1.0       370000.0   427375.0   671000.0
            2.0       580000.0   659625.0  1260000.0
            3.0       730500.0   878750.0  2460000.0
            4.0      1201500.0  1425750.0  1650000.0