# Introdução a análise de dados com Pandas
## Funcionalidades avançadas 
### Aplicando funções em um ```DataFrame```
Utilizamos o comando ```DataFrame.apply()``` para aplicar uma função específica em uma ou mais colunas/linhas de um ```DataFrame```. Utilizaremos as informações contidas no arquivo ```housing.csv``` para exemplicar o uso de cada funcionalidade.

In [1]:
import pandas as pd

df = pd.read_csv('dados/housing_ok.csv')
df.head()

,bairro,endereco,quartos,tipo,preco,distancia_aeroporto,cep,banheiros,vagas,area_terreno,area_construida,ano_construcao,latitude,longitude
0,Collingwood,2/79 Oxford St,2.0,kitnet,855000.0,1.6,3066.0,1.0,1.0,2886.0,122.0,1830.0,-37.8042,144.9845
1,Richmond,22a Stanley St,3.0,casa,1600000.0,2.6,3121.0,2.0,2.0,80.0,144.0,1850.0,-37.8233,144.9947
2,Fitzroy,52 Nicholson St,4.0,casa,3310000.0,1.6,3065.0,4.0,2.0,337.0,291.0,1854.0,-37.8052,144.9739
3,South Melbourne,352 Moray St,4.0,casa,2260000.0,2.1,3205.0,3.0,0.0,190.0,232.0,1856.0,-37.8377,144.9653
4,Port Melbourne,175 Stokes St,3.0,casa,2200000.0,3.8,3207.0,2.0,0.0,250.0,280.0,1863.0,-37.8381,144.9391

Definiremos uma função que recebe a ```distancia_aeroporto``` e retorna o texto 'longe', caso a distância seja maior que 3.5 km e 'perto', caso contrário.

In [2]:
def perto_ou_longe(x):
    if x > 3.5:
        return 'longe'
    else:
        return 'perto'

df.distancia_aeroporto.apply(perto_ou_longe).head()

0    perto
1    perto
2    perto
3    perto
4    longe
Name: distancia_aeroporto, dtype: object

Criaremos uma nova coluna do ```DataFrame``` contendo a informações gerada utilizando a notação ```DataFrame['nome_da_nova_coluna'] = Serie```.

In [3]:
df['perto_ou_longe'] = df.distancia_aeroporto.apply(perto_ou_longe)
df.head()

,bairro,endereco,quartos,tipo,preco,distancia_aeroporto,cep,banheiros,vagas,area_terreno,area_construida,ano_construcao,latitude,longitude,perto_ou_longe
0,Collingwood,2/79 Oxford St,2.0,kitnet,855000.0,1.6,3066.0,1.0,1.0,2886.0,122.0,1830.0,-37.8042,144.9845,perto
1,Richmond,22a Stanley St,3.0,casa,1600000.0,2.6,3121.0,2.0,2.0,80.0,144.0,1850.0,-37.8233,144.9947,perto
2,Fitzroy,52 Nicholson St,4.0,casa,3310000.0,1.6,3065.0,4.0,2.0,337.0,291.0,1854.0,-37.8052,144.9739,perto
3,South Melbourne,352 Moray St,4.0,casa,2260000.0,2.1,3205.0,3.0,0.0,190.0,232.0,1856.0,-37.8377,144.9653,perto
4,Port Melbourne,175 Stokes St,3.0,casa,2200000.0,3.8,3207.0,2.0,0.0,250.0,280.0,1863.0,-37.8381,144.9391,longe

### Criando uma nova coluna como resultado de operações envolvendo outras colunas
Criaremos uma nova coluna contendo a razão entre a ```area_construida``` e a ```area_terreno```. Para tanto, utilizaremos o comando ```DataFrame.eval()```. O comando ```eval()``` recebe como parâmetro a expressão matemática no formato de texto. Para consolidar o resultado gerado pelo comando, passamos o parâmetro ```inplace=True```.

In [4]:
df.eval('razao_area = area_construida / area_terreno', inplace=True)
df.razao_area.head()

0    0.042273
1    1.800000
2    0.863501
3    1.221053
4    1.120000
Name: razao_area, dtype: float64

### Filtrar linhas baseado em um intervalo de valores
Uma forma eficiente de aplicar um filtro de intervalo é através do uso do método ```Series.between(limite_inferior, limite_superior)```.

In [5]:
df[df.distancia_aeroporto.between(2, 2.5)].head()

,bairro,endereco,quartos,tipo,preco,distancia_aeroporto,cep,banheiros,vagas,area_terreno,area_construida,ano_construcao,latitude,longitude,perto_ou_longe,razao_area
3,South Melbourne,352 Moray St,4.0,casa,2260000.0,2.1,3205.0,3.0,0.0,190.0,232.0,1856.0,-37.8377,144.9653,perto,1.221053
9,North Melbourne,12 Curzon St,2.0,casa,885000.0,2.3,3051.0,1.0,1.0,111.0,73.0,1880.0,-37.8044,144.9481,perto,0.657658
16,South Melbourne,144 Cobden St,3.0,casa,1405000.0,2.1,3205.0,1.0,1.0,181.0,117.0,1880.0,-37.8365,144.9631,perto,0.646409
25,Cremorne,443 Punt Rd,3.0,casa,1280000.0,2.5,3121.0,2.0,2.0,324.0,165.0,1880.0,-37.8278,144.9885,perto,0.509259
26,Cremorne,443 Punt Rd,3.0,casa,1475000.0,2.5,3121.0,2.0,2.0,324.0,165.0,1880.0,-37.8278,144.9885,perto,0.509259

### Agrupar valores
Utilizando o o comando ```DataFrame.Groupby(by='nome_da_coluna')```, podemos agrupar valores de acordo com a operação desejada. Podemos, por exemplo agrupar as informações do ```DataFrame``` ```df``` por tipo de imóvel. Como operação de agrupamento, faremos o cálculo da média através do comando ```mean()``` para verifidar o preço médio dos imóveis por tipo.

In [7]:
df.groupby(by='tipo').mean()

,quartos,preco,distancia_aeroporto,cep,banheiros,vagas,area_terreno,area_construida,ano_construcao,latitude,longitude,razao_area
tipo,,,,,,,,,,,,
apartamento,2.886364,8.912696e+05,9.267208,3087.373377,1.827922,1.487013,328.194805,136.075325,2000.301948,-37.805750,144.978347,0.711705
casa,3.281076,1.352243e+06,8.906408,3089.966254,1.674498,1.689022,501.705254,166.909457,1947.577104,-37.804030,144.984450,0.415483
kitnet,2.123656,6.060722e+05,8.995968,3099.543011,1.172043,1.169355,807.198925,85.757016,1981.849462,-37.810621,144.993278,0.381975

O resultado do comando é um novo ```DataFrame``` com o tipo como indice.
As outras operações disponíveis para o agrupamento são:
* ```count()```: contagem de valores
* ```max()```: valor máximo
* ```min()```: valor mínimo
* ```median()```: mediana
* ```std()```: desvio padrão

A lista completa encontra-se no link: https://www.shanelynn.ie/summarising-aggregation-and-grouping-data-in-python-pandas/

Podemos agrupar os dados por tipo e número de quartos.

In [9]:
df.groupby(by=['tipo', 'quartos']).mean()

                            preco  distancia_aeroporto          cep  \
tipo        quartos
apartamento 1.0      4.850000e+05             7.200000  3101.000000
            2.0      7.206988e+05             8.337500  3080.112500
            3.0      8.931573e+05             9.172067  3082.776536
            4.0      1.208556e+06            11.360000  3119.955556
            5.0      8.125000e+05             9.950000  3042.500000
casa        1.0      8.517750e+05             5.387500  3107.500000
            2.0      9.818711e+05             7.124728  3086.491848
            3.0      1.184248e+06             9.036711  3085.438222
            4.0      1.640970e+06             9.546235  3095.490964
            5.0      2.138573e+06             9.670064  3108.267516
            6.0      2.205857e+06             8.385714  3074.214286
            7.0      1.701667e+06             8.300000  3066.333333
            8.0      1.915500e+06             9.700000  3081.000000
kitnet      1.0      3.789432e+05             6.577273  3092.704545
            2.0      5.870398e+05             8.738750  3100.629167
            3.0      7.615442e+05            10.945349  3099.651163
            4.0      1.201500e+06             9.250000  3115.000000

                     banheiros     vagas  area_terreno  area_construida  \
tipo        quartos
apartamento 1.0       1.000000  1.000000    413.500000        79.000000
            2.0       1.312500  1.187500    397.775000       103.425000
            3.0       1.899441  1.558659    282.055866       135.242514
            4.0       2.511111  1.755556    389.177778       198.906444
            5.0       1.500000  1.500000    217.000000       160.000000
casa        1.0       1.125000  0.375000    120.375000        70.625000
            2.0       1.114130  1.114130    315.880435       102.563342
            3.0       1.455111  1.619556    479.953778       143.044996
            4.0       2.078313  1.963855    583.537651       207.597605
            5.0       2.707006  2.318471    721.579618       302.970064
            6.0       3.000000  2.642857    910.500000       296.428571
            7.0       2.666667  2.000000    566.000000       377.333333
            8.0       4.500000  4.000000   1067.500000       404.000000
kitnet      1.0       1.000000  0.909091   1461.772727        50.284091
            2.0       1.104167  1.095833    820.087500        80.854625
            3.0       1.441860  1.488372    449.895349       116.267442
            4.0       1.500000  2.000000    224.000000       142.500000

                     ano_construcao   latitude   longitude  razao_area
tipo        quartos
apartamento 1.0         1950.000000 -37.808300  145.003650    0.724652
            2.0         1996.062500 -37.792809  144.971688    0.768896
            3.0         2002.039106 -37.801770  144.972954    0.694856
            4.0         2002.800000 -37.847858  145.012743    0.675193
            5.0         2008.500000 -37.729680  144.928190    0.740599
casa        1.0         1921.875000 -37.810950  144.973589    0.594186
            2.0         1935.203804 -37.801386  144.972311    0.468355
            3.0         1947.161778 -37.797951  144.976989    0.397558
            4.0         1952.570783 -37.811777  144.995876    0.407676
            5.0         1959.675159 -37.821686  145.018549    0.444591
            6.0         1937.571429 -37.793120  144.987694    0.363844
            7.0         1986.666667 -37.767733  144.974267    0.662390
            8.0         1964.500000 -37.855700  144.980600    0.353207
kitnet      1.0         1980.136364 -37.815103  144.976798    0.202412
            2.0         1980.870833 -37.810694  144.992784    0.384313
            3.0         1985.360465 -37.808354  145.001377    0.461026
            4.0         1986.000000 -37.800700  145.066800    0.652625

O resultado é um novo ```DataFrame``` com múltiplos indices.

Por fim, podemos utilizar o comando ```DataFrame.describe()``` para exibir todas as estatísticas descritivas para cada grupo. Faremos um exemplo somente para o preço dos imóveis.

In [15]:
df.groupby(by=['tipo', 'quartos']).preco.describe()

                      count          mean           std        min        25%  \
tipo        quartos
apartamento 1.0         2.0  4.850000e+05  1.979899e+05   345000.0   415000.0
            2.0        80.0  7.206988e+05  2.384281e+05   380000.0   561375.0
            3.0       179.0  8.931573e+05  3.191088e+05   430000.0   701000.0
            4.0        45.0  1.208556e+06  4.877989e+05   600000.0   886000.0
            5.0         2.0  8.125000e+05  2.368808e+05   645000.0   728750.0
casa        1.0         8.0  8.517750e+05  3.317692e+05   260000.0   739925.0
            2.0       368.0  9.818711e+05  3.505353e+05   270000.0   756875.0
            3.0      1125.0  1.184248e+06  5.368530e+05   305000.0   805000.0
            4.0       664.0  1.640970e+06  7.705591e+05   131000.0  1100000.0
            5.0       157.0  2.138573e+06  9.988987e+05   605000.0  1490000.0
            6.0        14.0  2.205857e+06  1.474685e+06   725000.0  1436250.0
            7.0         3.0  1.701667e+06  7.794282e+05  1205000.0  1252500.0
            8.0         2.0  1.915500e+06  1.463004e+06   881000.0  1398250.0
kitnet      1.0        44.0  3.789432e+05  9.739814e+04   185000.0   308750.0
            2.0       240.0  5.870398e+05  1.704276e+05   266000.0   474750.0
            3.0        86.0  7.615442e+05  2.896324e+05   400000.0   560000.0
            4.0         2.0  1.201500e+06  6.342748e+05   753000.0   977250.0

                           50%        75%        max
tipo        quartos
apartamento 1.0       485000.0   555000.0   625000.0
            2.0       702500.0   806750.0  1540000.0
            3.0       830000.0   990500.0  2700000.0
            4.0      1155000.0  1367000.0  2900000.0
            5.0       812500.0   896250.0   980000.0
casa        1.0       885500.0   956875.0  1435000.0
            2.0       910000.0  1171750.0  2875000.0
            3.0      1080000.0  1440000.0  6250000.0
            4.0      1500000.0  2000000.0  5700000.0
            5.0      1920000.0  2600000.0  8000000.0
            6.0      1783000.0  2381250.0  6500000.0
            7.0      1300000.0  1950000.0  2600000.0
            8.0      1915500.0  2432750.0  2950000.0
kitnet      1.0       370000.0   427375.0   671000.0
            2.0       580000.0   659625.0  1260000.0
            3.0       730500.0   878750.0  2460000.0
            4.0      1201500.0  1425750.0  1650000.0